################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CODEwithZAKI/.vs/CODEwithZAKI
/CODEwithZAKI/CODEwithZAKI/bin/Debug/netcoreapp3.1
/CODEwithZAKI/CODEwithZAKI/obj
