body {
}
.h1{
    border:dotted;
    font-family:'Agency FB';
    color:red;
}
.logo{
    width:300px;
}
.cade{
    border: dotted;
    font-family: 'Agency FB';
    color: blue;
}

.col-sm-4 {
    padding-bottom: 1em;
    color:blue;
}

.dhible {
   
    background-color: white;
    
    height: 350px;
    padding: 4rem 1rem;
    margin-bottom: 2rem;
    
    border-radius: 0.3rem;
}
.cadee{
    color:blue;
}
.card {
    
    padding-bottom: 1em;
}
.btn{
    margin-left:4px;
}
.author {
    margin-left: 110px;
}
.card-title {
    margin-left: 4px;
}
.card-text {
    margin-left: 4px;
}


.photo1 {
    margin-left: 100px;
}
.form-inline {
    margin-right: 100px;
}
.footer{
    position:absolute;
    
   
    width:100%;
    white-space:nowrap;
    line-height:50px;
}
.footer1 {
    position: absolute;
    bottom:0;
    width: 100%;
    white-space: nowrap;
    line-height: 50px;
}
.copyright{
    color:blue;
}
.carousel {
    width: 450px;
   
    margin-right:-50px;
}

.display-4{
    
}
.cumar{
    margin-left:-100px;
}