
@{
    ViewData["Title"] = "About";

}

<body>
    <table cellspacing="20">
        <tr>
            <td><img src="~/images/2.png" /></td>
            <td>
                <h1>CODEwithZAKI</h1>
                <p><em>Founder of <strong><a href="https://codewithzaki-10.webself.net/">CodewithZaki Technology</a></strong></em></p>
                <p>I am full stack Web and Desktop Developer, I love coffee</p>
            </td>
        </tr>
    </table>
    <hr>
    <h3>Education</h3>
    <ul>
        <li>浙江师范大学，软件工程，硕士，2020-正在.</li>
        <li>西南交通大学，中文，2019-2020.</li>
        <li>Mogadishu University,Computer Science,2014-2018.</li>
        <li>Alsha'ab School,High School,2006-2014.</li>
    </ul>
    <hr>
    <h3>Work Experience</h3>
    <table cellspacing="10">
        <thead>
            <tr>Dates</tr>
            <tr>Work</tr>
        </thead>
        <tbody>
            <tr>
                <td>2016-2017</td>
                <td>Alsha'ab School</td>
            </tr>
            <tr>
                <td>2017-2018</td>
                <td>Mubarak Institute of Technology</td>
            </tr>
        </tbody>
    </table>
    <hr>
    <h3>Skills</h3>


    <table border="1">
        <colgroup span="1">
        </colgroup>
        <tr>
            <th colspan="5">Languages</th>

        </tr>
        <tr>
            <td>
                <table>

                    <tr>
                        <td>C language</td>
                        <td style="color:blue">✯✯✯✯✯</td>

                    </tr>

                    <tr>
                        <td>C++</td>
                        <td style="color:blue">✯✯✯✯✯</td>

                    </tr>
                    <tr>
                        <td>Java</td>
                        <td style="color:blue">✯✯✯✯</td>

                    </tr>

                </table>

            </td>
            <td>
                <table>
                    <tr>
                        <td>ASP.Net</td>
                        <td style="color:blue">✯✯✯</td>
                    </tr>
                    <tr>
                        <td>Photoshop</td>
                        <td style="color:blue">✯✯</td>
                    </tr>
                </table>




            </td>
        </tr>

    </table>


    <hr>
    <a href="hobbies.html">my Hobbies</a>
    <p> <a href="contact.html">Contact me.</a></p>

</body>
