<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Book Store Application </title>


    <link href="~/css/Site.css" rel="stylesheet" />
   
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <main role="main">
        @RenderBody()

    </main>
       
    
</body>

</html>
